*-ts.js

*.gz
*.lock
*.log
*.out
*.tgz

ts-node-*

/lib/
/test/mocha.opts

/coverage/
/node_modules/
/out/

/.nyc_output/

/.tags
/.tern-project

.DS_Store
/package-lock.json
/yarn.lock

.DS_Store
/.idea
/.vscode
